.email-container{

    background-color: #0000005b;
    border-radius: 10px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

.email-container:hover{
    background-color: aqua;
}

.email-container:active{
    background-color: blueviolet;
}

.email-container p {
    white-space: nowrap;/*keeps text to 1 line max*/
    overflow: hidden;
    text-overflow: ellipsis;
}